<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<img>
    <h2>Streaming with Flask</h2>
    <p>Hola mundo desde HTML jijiji </p>
    <img src="{{ url_for('video_feed') }}" width="100%"/>
    <button>INICIAR SISTEMA</button>
    <p>Caja 1: 0</p>
    <p>Caja 2: 12</p>
    <p>Caja 3: 4</p>
</body>
</html>